<h2>search cars: </h2>

<form method="post" asp-controller="Car" asp-action="Search">
    <div>
        <label>Model:</label>
        <input type="text" name="model" />
    </div>

    <button type="submit">Search..</button>
</form>

<a href="/Car/Index">back</a>