@model WebApplication7.DTOs.CreateStudentDto

<form asp-controller="Student" asp-action="create" method="post">

    <input asp-for="FullName" />

    <input asp-for= "Age" />

    <button type="submit">Save</button>
</form>