@model List<db.Models.User>

@{
    ViewData["Title"] = "Список користувачів";
}

<h2>Список користувачів</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
            </tr>
        }
    </tbody>
</table>