@model CookieDemo.Models.LoginViewModel
<form asp-controller="Account" asp-action="Login" method="post">
    <input asp-for="Login"/>
    <input asp-for="Password" />

    <button type="submit">Login</button>
</form>