@model WebApplication7.Models.Course

<h2>EDIT cousre</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <p>
        Name:
        <input asp-for="Name" />
    </p>

    <p>
        DEscription:
        <input asp-for="Description" />
    </p>

    <p>
        Hours:
        <input asp-for="Hours" />
    </p>

    <button type="submit">Save</button>
</form>